@import '../../../shared/mixins.scss';
@import '../../../shared/variables.scss';

.userNoticeThumbnail {
  width: $notice-normal;
  margin: 0 auto 10vh;
  .userNoticeThumbnail__photo {
    @include appPhoto;
  }
  .userNoticeThumbnail__photo-label {
    background-color: transparentize($secondaryGray, 0.5);
    color: $primaryTextColor;
    width: 100%;
    margin: -5px 0 2vh;
    text-align: center;
    padding: 2vh 0;
  }
  .userNoticeThumbnail__options {
    width: 100%;
    display: flex;
    margin-top: 1vh;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 600px) and (max-width: 999px) {
  .userNoticeThumbnail {
    @include notice-margin(0, 5%, 10vh);
    @include notice-margin(2vw, 2%, 10vh);
    width: 80%;
    .userNoticeThumbnail__photo {
      @include appPhoto;
      height: 50vh;
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1366px) and (orientation: landscape) {
  .userNoticeThumbnail {
    width: $notice-medium;
    @include notice-margin(2vw, 2%, 10vh);
    .userNoticeThumbnail__photo {
      @include appPhoto;
    }
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1919px) and (orientation: landscape) {
  .userNoticeThumbnail {
    @include notice-margin(2vw, 2%, 10vh);
    width: $notice-medium;
    .userNoticeThumbnail__photo {
      @include appPhoto;
      height: 350px;
    }
    .userNoticeThumbnail__photo-label {
      font-size: $font-smallXL;
    }
  }
}

@media only screen and (min-width: 1920px) and (orientation: landscape) {
  .userNoticeThumbnail {
    @include notice-margin(2vw, 2%, 10vh);
    width: $notice-small;
    .userNoticeThumbnail__photo {
      @include appPhoto;
      height: 380px;
    }
    .userNoticeThumbnail__photo-label {
      font-size: $font-smallXXL;
    }
  }
}
