@import '../../../shared/mixins.scss';
@import '../../../shared/variables.scss';

.addNoticeButton {
  font-size: 2.2rem;
  &:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) and (orientation: landscape) {
  .addNoticeButton {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1921px) and (orientation: landscape) {
  .addNoticeButton {
    font-size: 2.5rem;
  }
}
