@import '../../../shared/mixins.scss';
@import '../../../shared/variables.scss';

.header__logout {
  @include button;
  background-color: $primaryColor;
  font-size: $font-miniXL;
}

@media only screen and (min-width: 1367px) and (orientation: landscape) {
  .header__logout {
    font-size: $font-smallXL;
    width: 110px;
    padding: 10px;
  }
}

@media only screen and (min-width: 1921px) and (orientation: landscape) {
  .header__logout {
    font-size: $font-smallXXL;
    width: 120px;
    padding: 15px;
  }
}
