@import '../../../shared/variables.scss';
@import '../../../shared/mixins.scss';

.dashboardNotice__link {
  display: contents;
  .dashboardNotice {
    @include noticeShadow;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 96%;
    padding: 5%;
    margin: 2vh 2% 10vh;
    transition: box-shadow 0.4s;
    cursor: pointer;
    .dashboardNotice__photo {
      @include appPhoto;
    }
    .dashboardNotice__description {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 5vh;
    }
    .dashboardNotice__name {
      height: 5vh;
      margin: 2vh 0;
      text-align: center;
    }
    .dashboardNotice__price {
      align-self: flex-end;
      margin: 3vh 0 1vh;
      font-weight: bold;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) and (orientation: landscape) {
  .dashboardNotice__link {
    .dashboardNotice {
      width: 46%;
      padding: 5%;
      margin: 2vh 2% 10vh;
    }
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1366px) and (orientation: landscape) {
  .dashboardNotice__link {
    .dashboardNotice {
      width: 29%;
      padding: 2%;
      margin: 2vh 2% 10vh;
    }
  }
}

@media only screen and (min-width: 1367px) and (orientation: landscape) {
  .dashboardNotice__link {
    .dashboardNotice {
      font-size: 1.4rem;
      width: 21%;
      padding: 2%;
      margin: 2vh 2% 10vh;
    }
  }
}
