@import '../../shared/mixins.scss';
@import '../../shared/variables.scss';

.form {
  .form__productDescription {
    @include input;
    line-height: $lh-small;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    padding: 2%;
  }
  .form__wordCounter {
    font-size: $font-mini;
    align-self: flex-end;
    font-weight: bold;
    margin-bottom: 2vh;
  }
  .form__wordCounter-valid {
    color: $validColor;
  }
  .form__wordCounter-invalid {
    color: $invalidColor;
  }
  .form__radios-label {
    margin-bottom: 1vh;
  }
  .form__radios {
    border: 2px solid $secondaryGray;
    border-radius: 4px;
    padding: 2vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 2vh;
    .form__radio {
      &:nth-child(1) {
        margin-bottom: 2vh;
      }
      .form__radio-input {
        display: none;
        & + *::before {
          margin-right: 5px;
          content: '';
          display: inline-block;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          border: 1px solid $secondaryGray;
        }
        &:checked + *::before {
          background: radial-gradient($primaryColor 0%, $primaryColor 30%, transparent 50%, transparent);
          border-color: $primaryColor;
        }
      }
    }
  }
  .form__fileInput {
    width: 0;
    height: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    & + .form__fileInput-label {
      background-color: $secondaryGray;
      margin-bottom: 2vh;
      padding: 10px 7px;
      border-radius: 5px;
      & + .form__fileInput-status {
        font-size: $font-small;
        color: darken($primaryTextColor, 20);
        margin: 10px 0;
      }
      &:hover {
        background-color: darken($secondaryGray, 15);
        cursor: pointer;
      }
      .fileLabelSpan {
        margin-left: 2vw;
      }
    }
  }
  .form__photoPreview-wrapper {
    @include appPhoto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    margin: 2vh 0;
    border: 2px solid $secondaryGray;
    overflow: hidden;
    z-index: 90;
    .form__photoPreview-wrapper-icon {
      font-size: $font-smallXL;
      color: $secondaryGray;
      position: absolute;
      bottom: 10px;
      left: 10px;
      z-index: 110;
    }
    .form__photoPreview {
      @include appPhoto;
      z-index: 90;
      -webkit-filter: brightness(50%);
      filter: brightness(50%);
    }
    &::before {
      content: 'PREVIEW';
      position: absolute;
      display: block;
      z-index: 100;
      bottom: 5px;
      right: 10px;
      color: $secondaryGray;
      font-size: $font-mediumXL;
    }
  }
}

@media only screen and (min-width: 1921px) and (orientation: landscape) {
  .form {
    .form__fileInput {
      & + .form__fileInput-label {
        background-color: $secondaryGray;
        margin-bottom: 2vh;
        padding: 14px 30px;
        border-radius: 5px;
      }
    }
  }
}
