// styles for mobiles
@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.splashScreen__wrapper {
  @include flexCenter;
  width: 100vw;
  height: 85vh;

  .splashScreen {
    .splashScreen__header {
      font-size: $font-large;
      text-align: center;
    }
    .splashScreen__imageWrapper {
      @include flexCenter;
      flex-direction: column;
      .splashScreen__slogan {
        font-size: $font-smallXL;
        line-height: $lh-small;
        height: 100%;
        width: 70vw;
        text-align: center;
        margin-bottom: 10vh;
      }
      .splashScreen__image {
        width: 55vw;
        margin: 7vh 0;
      }
    }
    .buttons {
      width: 80vw;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;

      .splashScreen__button {
        @include button;
      }

      .button-login {
        background-color: $primaryColor;
      }
    }
  }
}

//mutual styles for devices 1000px +
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  .splashScreen__wrapper {
    padding: 5vh 10vw;

    .splashScreen {
      .splashScreen__imageWrapper {
        flex-direction: row;
        width: 70vw;
        margin: 5vh auto;
        .splashScreen__slogan {
          width: 40%;
          margin: 0 0 0 10vw;
        }
      }
      .buttons {
        width: 50vw;
        .button-login {
          background-color: $primaryColor;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .splashScreen__wrapper {
    .splashScreen {
      .splashScreen__header {
        font-size: $font-largeXL;
      }
      .splashScreen__imageWrapper {
        .splashScreen__slogan {
          font-size: $font-smallXL;
          width: 60vw;
        }
        .splashScreen__image {
          width: 25vw;
        }
      }
      .buttons {
        .splashScreen__button {
          width: 150px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1366px) and (orientation: landscape) {
  .splashScreen__wrapper {
    .splashScreen {
      .splashScreen__header {
        font-size: $font-largeXL;
      }
      .splashScreen__imageWrapper {
        .splashScreen__slogan {
          font-size: $font-smallXXL;
        }
        .splashScreen__image {
          width: 20vw;
        }
      }
      .buttons {
        .splashScreen__button {
          width: 150px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) and (orientation: landscape) {
  .splashScreen__wrapper {
    .splashScreen {
      .splashScreen__header {
        font-size: $font-huge;
        margin-bottom: 10vh;
      }
      .splashScreen__imageWrapper {
        .splashScreen__slogan {
          font-size: $font-mediumXL;
        }
        .splashScreen__image {
          width: 20vw;
        }
      }
      .buttons {
        .splashScreen__button {
          width: 180px;
          padding: 12px;
          font-size: $font-smallXXL;
        }
      }
    }
  }
}

@media only screen and (min-width: 1921px) and (orientation: landscape) {
  .splashScreen__wrapper {
    .splashScreen {
      .splashScreen__header {
        font-size: $font-largeXXL;
        margin-bottom: 8vh;
      }
      .splashScreen__imageWrapper {
        .splashScreen__slogan {
          font-size: $font-mediumXL;
        }
        .splashScreen__image {
          width: 22vw;
        }
      }
      .buttons {
        width: 45vw;
        .splashScreen__button {
          width: 180px;
          padding: 12px;
          font-size: $font-smallXXL;
        }
      }
    }
  }
}
