@import './variables.scss';

@mixin primaryShadow {
  box-shadow: 0px 3px 10px -5px #000000;
}

@mixin noticeShadow {
  box-shadow: 2px 6px 8px -5px #000000;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin userNoticeThumbnailButton {
  padding: 8px;
  font-size: $font-small;
  color: black;
  cursor: pointer;
  width: 45%;
  background: $foundation;
  color: $primaryTextColor;
  border-radius: 0;
  border-bottom: 3px solid $primaryColor;
  &:hover {
    background: linear-gradient($foundation 85%, $primaryColor);
  }
}

@mixin notice-margin($top, $side, $bottom) {
  margin: $top $side $bottom;
}

@mixin notice-padding($top-bottom, $right-left) {
  padding: $top-bottom $right-left;
}

@mixin cardBottomWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

@mixin button {
  background-color: $secondaryGray;
  width: 90px;
  padding: 8px;
  font-size: 1.1rem;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

@mixin noticesStatus {
  margin: 10vh 0 0 5vw;
  font-size: 1.7rem;
  a {
    text-decoration: underline;
    color: $primaryColor;
  }
}

@mixin appPhoto {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
}

@mixin errorText {
  margin-bottom: 2vh;
  color: $invalidColor;
  font-weight: bold;
  text-align: center;
}

@mixin input {
  background-color: lighten($foundation, 3);
  color: $primaryTextColor;
  margin: 1vh 0 2vh;
  padding: 7px 5px;
  border: 2px solid $secondaryGray;
  border-radius: 4px;
}

@mixin setIconSize($width, $height) {
  width: $width;
  height: $height;
}

@mixin themeSwitcherIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
