@import './variables.scss';

@mixin primaryShadow {
  -webkit-box-shadow: 0px 3px 10px -5px #000000;
  box-shadow: 0px 3px 10px -5px #000000;
}

@mixin noticeShadow {
  -webkit-box-shadow: 0px 4px 8px -5px #000000;
  box-shadow: 0px 4px 8px -5px #000000;
}

@mixin button {
  background-color: lightgray;
  width: 80px;
  padding: 8px;
  font-size: 1.1rem;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

@mixin errorText {
  margin-bottom: 2vh;
  color: $formErrorText;
  font-weight: bold;
  text-align: center;
}

@mixin input {
  margin: 1vh 0 2vh;
  padding: 7px 5px;
  border: 2px solid $primaryTextColor;
  border-radius: 4px;
}
