@import '../../shared/mixins.scss';
@import '../../shared/variables.scss';

.noticesStatus {
  @include noticesStatus;
  .noticesStatus__link {
    font-size: inherit;
  }
}

.dashboard {
  width: 100vw;
  padding: 2vh 5vw;
  .dashboard__header {
    font-size: $font-medium;
    border-bottom: $primaryBorderBottom;
    width: 20vw;
    padding-bottom: 2vh;
    margin: 8vh 0 3vh 2vw;
  }
  .dashboard__notices {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    padding: 2vw;
  }
}

@media only screen and (min-width: 600px) and (orientation: landscape) {
  .dashboard {
    .dashboard__notices {
      flex-direction: row;
    }
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) and (orientation: landscape) {
  .dashboard {
    .dashboard__header {
      font-size: $font-mediumXL;
      width: 10vw;
    }
  }
}

@media only screen and (min-width: 1921px) and (orientation: landscape) {
  .dashboard {
    .dashboard__header {
      font-size: $font-mediumXXL;
      width: 10vw;
    }
  }
}
