@import '../../shared/variables.scss';

@mixin headerElementPosition {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header {
  max-width: 100vw;
  padding: 0 2vw;
  height: 10vh;
  border-bottom: $headerBorder;
  position: sticky;
  top: 0;
  @include headerElementPosition;
  z-index: 1000;
  background-color: $foundation;
  flex-direction: row;
  .header__options-wrapper {
    @include headerElementPosition;
    width: 35vw;
    display: none;
  }
  a {
    text-decoration: none;
    .header__appName {
      width: 40vw;
      margin: 2vh 0;
      font-size: $font-mediumXL;
    }
  }
}

@media only screen and (min-width: 1000px) and (orientation: landscape) {
  .header {
    .header__options-wrapper {
      @include headerElementPosition;
      width: 25vw;
      flex-direction: row;
      display: flex;
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1920px) and (orientation: landscape) {
  .header {
    .header__options-wrapper {
      @include headerElementPosition;
      width: 25vw;
      flex-direction: row;
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1366px) and (orientation: landscape) {
  .header {
    a {
      .header__appName {
        font-size: $font-mediumXXL;
      }
    }
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) and (orientation: landscape) {
  .header {
    a {
      .header__appName {
        font-size: $font-large;
      }
    }
  }
}

@media only screen and (min-width: 1921px) and (orientation: landscape) {
  .header {
    .header__options-wrapper {
      width: 20vw;
    }
    a {
      .header__appName {
        font-size: $font-large;
      }
    }
  }
}
