@import '../mixins.scss';
@import '../variables.scss';

.headerIcon {
  font-size: $font-mediumXL;
  &:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) and (orientation: landscape) {
  .headerIcon {
    font-size: $font-large;
  }
}

@media only screen and (min-width: 1921px) and (orientation: landscape) {
  .headerIcon {
    font-size: $font-largeXXL;
  }
}
