@import '../../shared/variables.scss';

.userProfile__wrapper {
  width: 90%;
  margin: 30vw auto 0;
  .userProfile__greeting {
    font-size: 1.5rem;
    margin: 20vh 0 5vh;
  }
  .userProfile__userData {
    .userProfile__userInfo {
      line-height: 150%;
      background-color: lighten($secondaryGray, 10);
      border-bottom: 5px solid $secondaryGray;
      padding: 5vw;
      margin-bottom: 15vh;
    }
  }
  .userProfile__notices-header {
    font-size: 1.2rem;
    margin-bottom: 5vh;
  }
  .userNoticeThumbnails {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 500px) and (max-width: 999px) {
  .userProfile__wrapper {
    margin-top: 20vh;
    .userNoticeThumbnails {
      width: 70%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1366px) and (orientation: landscape) {
  .userProfile__wrapper {
    width: 90%;
    margin: 10vw auto 0;
    .userProfile__greeting {
      font-size: 1.5rem;
      margin: 20vh 0 5vh;
    }
    .userProfile__userData {
      .userProfile__userInfo {
        line-height: 150%;
        background-color: lighten($secondaryGray, 10);
        border-bottom: 5px solid $secondaryGray;
        padding: 3vw;
        font-size: 1.2rem;
        margin-bottom: 15vh;
      }
    }
    .userProfile__notices-header {
      font-size: 1.2rem;
      margin-bottom: 5vh;
    }
    .userNoticeThumbnails {
      width: 90vw;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) and (orientation: landscape) {
  .userProfile__wrapper {
    width: 90%;
    margin: 10vw auto 0;
    .userProfile__greeting {
      font-size: 1.8rem;
      margin: 20vh 0 5vh;
    }
    .userProfile__userData {
      .userProfile__userInfo {
        line-height: 180%;
        background-color: lighten($secondaryGray, 10);
        border-bottom: 5px solid $secondaryGray;
        padding: 2vw;
        font-size: 1.3rem;
        margin-bottom: 15vh;
      }
    }
    .userProfile__notices-header {
      font-size: 1.4rem;
      margin-bottom: 5vh;
    }
    .userNoticeThumbnails {
      width: 90vw;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (min-width: 1921px) and (orientation: landscape) {
  .userProfile__wrapper {
    width: 90%;
    margin: 10vw auto 0;
    .userProfile__greeting {
      font-size: 1.8rem;
      margin: 20vh 0 5vh;
    }
    .userProfile__userData {
      .userProfile__userInfo {
        line-height: 150%;
        background-color: lighten($secondaryGray, 10);
        border-bottom: 5px solid $secondaryGray;
        padding: 2vw;
        font-size: 1.2rem;
        margin-bottom: 15vh;
      }
    }
    .userProfile__notices-header {
      font-size: 1.4rem;
      margin-bottom: 5vh;
    }
    .userNoticeThumbnails {
      width: 90vw;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
