@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

$bb-small: 3vh;

.noticeCard__wrapper {
  border-bottom: $noticeCardWrapperBorderBottom;
  @include notice-margin(0, auto, 10vh);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95vw;
  padding: 5vw;
  .noticeCard__photo {
    @include appPhoto;
  }
  .noticeCard__noticeInfo {
    @include notice-margin(2vh, 0, 5vh);
    @include notice-padding(5vh, 4vw);
    background-color: lighten($secondaryGray, 15);
    .noticeCard__name {
      color: $primaryTextColor;
      font-size: $font-smallXL;
      margin-bottom: $bb-small;
      font-weight: bold;
    }
    .noticeCard__bottomWrapper {
      @include cardBottomWrapper;
      .bottomWrapper__productPrice {
        font-size: $font-mediumXL;
        color: darken($primaryColor, 10);
        text-align: right;
        font-weight: bold;
      }
    }
    .noticeCard__description {
      color: lighten($primaryTextColor, 10);
      font-size: $font-small;
      margin-bottom: $bb-small;
    }
    .noticeCard__condition {
      margin-bottom: $bb-small;
    }
  }
  .authorInfo {
    margin: 2vh 0;
    padding: 3vw;
    line-height: $lh-medium;
    .authorInfo__header {
      font-size: $font-smallXL;
    }
    .authorInfo-item {
      font-size: $font-small;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) and (orientation: landscape) {
  .noticeCard__wrapper {
    width: 60vw;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) and (orientation: landscape) {
  .noticeCard__wrapper {
    width: 55vw;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1366px) and (orientation: landscape) {
  .noticeCard__wrapper {
    width: 55vw;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) and (orientation: landscape) {
  .noticeCard__wrapper {
    width: 50vw;
    .noticeCard__photo {
      height: 450px;
    }
    .noticeCard__noticeInfo {
      .noticeCard__bottomWrapper {
        .bottomWrapper__productPrice {
          font-size: $font-mediumXXL;
        }
        .bottomWrapper__creationDate {
          font-size: $font-smallXXL;
        }
      }
      .noticeCard__name {
        font-size: $font-mediumXL;
      }
      .noticeCard__description,
      .noticeCard__condition {
        font-size: $font-smallXXL;
      }
    }
    .authorInfo {
      .authorInfo__header {
        font-size: $font-medium;
      }
      .authorInfo-item {
        line-height: $lh-medium;
        font-size: $font-smallXL;
      }
    }
  }
}

@media only screen and (min-width: 1921px) and (orientation: landscape) {
  .noticeCard__wrapper {
    width: 50vw;
    .noticeCard__photo {
      height: 500px;
    }
    .noticeCard__noticeInfo {
      .noticeCard__bottomWrapper {
        .bottomWrapper__productPrice {
          font-size: $font-mediumXXL;
        }
        .bottomWrapper__creationDate {
          font-size: $font-smallXL;
        }
      }
      .noticeCard__name {
        font-size: $font-medium;
      }
      .noticeCard__description,
      .noticeCard__condition {
        font-size: $font-smallXXL;
      }
    }
    .authorInfo {
      line-height: $lh-medium;
      .authorInfo__header,
      .authorInfo-item {
        font-size: $font-smallXXL;
      }
    }
  }
}
